* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  font-size: 14px;
}

body {
  overflow: overlay;
}

header {
  height: 100vh;
  min-height: 447px;
  width: 100%;
  background: #272727;
}

header nav {
  min-height: 90px;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0% 10%;
}

header nav .logo {
  color: #e4e4e4;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header nav .logo span {
  font-weight: bold;
  letter-spacing: 0px;
}

header nav .logo span::-moz-selection {
  color: #272727;
  background: #e4e4e4;
}

header nav .logo span::selection {
  color: #272727;
  background: #e4e4e4;
}

header nav .logo::-moz-selection {
  color: #272727;
  background: #e4e4e4;
}

header nav .logo::selection {
  color: #272727;
  background: #e4e4e4;
}

header nav .burger-menu {
  width: auto;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .burger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background: #e4e4e4;
  border-radius: 5px;
  -webkit-transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header nav .burger-menu .center {
  width: 30px;
}

header nav .burger-menu:hover {
  cursor: pointer;
}

header nav .burger-menu:hover span {
  width: 30px;
}

header nav .burger-menu:hover .center {
  width: 25px;
}

header .landing {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .landing img {
  margin: 50px 0px;
  width: 200px;
  border-radius: 50%;
  -webkit-transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header .landing img:hover {
  -webkit-box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.041), 1px -1px 30px rgba(255, 255, 255, 0.041), -1px 1px 30px rgba(255, 255, 255, 0.041), -1px -1px 30px rgba(255, 255, 255, 0.041);
          box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.041), 1px -1px 30px rgba(255, 255, 255, 0.041), -1px 1px 30px rgba(255, 255, 255, 0.041), -1px -1px 30px rgba(255, 255, 255, 0.041);
}

header .landing .big-text {
  color: #e4e4e4;
  font-size: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .landing .big-text span {
  margin-left: 10px;
  display: block;
  width: 0px;
  -webkit-animation: typing 2s steps(15, end) forwards, blinking 0.75s infinite;
          animation: typing 2s steps(15, end) forwards, blinking 0.75s infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: orange 5px solid;
}

@-webkit-keyframes typing {
  from {
    width: 0rem;
  }
  to {
    width: 15.5rem;
  }
}

@keyframes typing {
  from {
    width: 0rem;
  }
  to {
    width: 15.5rem;
  }
}

@-webkit-keyframes blinking {
  0% {
    border-right: transparent;
  }
  50% {
    border-right: orange 5px solid;
  }
  100% {
    border-right: transparent;
  }
}

@keyframes blinking {
  0% {
    border-right: transparent;
  }
  50% {
    border-right: orange 5px solid;
  }
  100% {
    border-right: transparent;
  }
}

header .landing .big-text::-moz-selection,
header .landing .big-text span::-moz-selection {
  color: #272727;
  background: #e4e4e4;
}

header .landing .big-text::selection,
header .landing .big-text span::selection {
  color: #272727;
  background: #e4e4e4;
}

header .arrow-down {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .arrow-down a svg {
  width: 40px;
  fill: #e4e4e4;
}

.about {
  height: 100vh;
  background: #1a1a1a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about .about-text {
  color: #e4e4e4;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about-text h2 {
  font-size: 3rem;
  margin: 10% 0%;
  position: relative;
}

.about .about-text h2 span {
  background: #e4e4e4;
  width: 3rem;
  height: 3px;
  position: absolute;
  bottom: -10%;
  left: 0%;
  -webkit-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.about .about-text h2:hover .underline {
  width: 15rem;
}

.about .about-text p {
  font-size: 1.25rem;
}

.about .about-image {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-image .about-img {
  width: 50%;
}

/*
Scrollbar Styles
*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

/*
Media Queries
*/
@media only screen and (max-width: 750px) {
  .about {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .about .about-text h2 {
    font-size: 2.25rem;
  }
  .about .about-text h2:hover .underline {
    width: 11rem;
  }
  .about .about-text p {
    font-size: 1rem;
  }
  .about .about-image .about-img {
    width: 30%;
  }
}

@media only screen and (max-width: 650px) {
  .about .about-image .about-img {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .about .about-image .about-img {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */